[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
clize = "==4.0.3"
padar-converter = {git = "https://github.com/qutang/padar_converter.git", referer = "master"}
padar-parallel = {git = "https://github.com/qutang/padar_parallel.git", referer = "master"}
padar-features = {git = "https://github.com/qutang/padar_features.git", referer = "master"}
graphviz = "*"
requests = "*"
matplotlib = "==3.0.0"
seaborn = "==0.9.0"
openpyxl = "==2.5.9"
scikit-learn = "==0.20.0"
pyyaml = ">=4.2b1"
urllib3 = ">=1.24.2"
Jinja2 = ">=2.10.1"
wget = "*"
arus = {git = "https://github.com/qutang/arus.git", referer = "master"}
distributed = "==2.1.0"
pillow = "*"

[dev-packages]
pylint = "<2.0.0"
"autopep8" = "*"

[requires]
python_version = "3"

[pipenv]
allow_prereleases = true

[scripts]
download_data="python download_data.py"
pack_data="python pack_data.py"
reproduce="python reproduce.py"
release="python dist.py"
