[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
clize = "==4.0.3"
padar-converter = "==0.2.17"
padar-parallel = "==0.2.10"
padar-features = "==0.2.12"
graphviz = "*"
requests = "*"

[dev-packages]
pylint = "<2.0.0"
"autopep8" = "*"

[requires]
python_version = "3"
