[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
clize = "==4.0.3"
padar-converter = "==0.2.11"
padar-parallel = "==0.2.5"
padar-features = "==0.2.10"
graphviz = "*"

[dev-packages]
pylint = "<2.0.0"

[requires]
python_version = "3"
