-i https://pypi.org/simple
clize==4.0.3
graphviz==0.10.1
matplotlib==3.0.0
openpyxl==2.5.9
padar-converter==0.2.17
padar-features==0.2.12
padar-parallel==0.2.11
pyyaml==5.1b1
requests==2.21.0
scikit-learn==0.20.0
seaborn==0.9.0
