---
---

@import "{{ site.theme }}";

header {
    width: 30%;
    max-height: 100vh;
    overflow-y: auto;
}

section {
    width: 60%
}

.wrapper {
    width: 90%
}

#author_url {
    margin-left: 1em
}

header ul a strong {
    padding-top: 0.1em;
}

header p, footer p {
  margin: 0 0 1em;
} 

@media print, screen and (max-width: 960px) {

    div.wrapper {
      width:auto;
      margin:0;
    }
  
    header, section, footer {
      float:none;
      position:static;
      width:auto;
      
    }
  
    header {
      padding-right:0;
      max-height: 100%;
    }
  
    section {
      border:1px solid #e5e5e5;
      border-width:1px 0;
      padding:20px 0;
      margin:0 0 20px;
    }
  
    header a small {
      display:inline;
    }

    header ul { 
        position: static
    }
  }
  
  @media print, screen and (max-width: 720px) {
    body {
      word-wrap:break-word;
    }
  
    header {
      padding:0;
    }
  
    header ul, header p.view {
      position:static;
    }
  
    pre, code {
      word-wrap:normal;
    }
  }
  
  @media print, screen and (max-width: 480px) {
    body {
      padding:15px;
    }

    header {
      width: 100%;
    }

    section {
      width: 100%;
    }
  
    .downloads {
      width:99%;
    }
  
    .downloads li, .downloads li + li + li {
      width:33%;
    }
  }

  @media (max-height: 899px) {

    header h1 {
        margin-bottom: 0.8em;
        font-size: 20px;
    }
    header p, footer p {
        margin: 0 0 0.8em;
    }

    footer p {
        font-size: 0.9em;
    }

    header {
        font-size: 0.9em;
    }

    section {
        font-size: 1em;
    }

    section h1 {
        font-size: 18px;
    }

    section h2 {
        font-size: 17px;
    }
}

@media (max-height: 600px) {

    header h1 {
        font-size: 18px;
        margin-bottom: 0.5em;
    }
    header p, footer p {
        margin: 0 0 0.5em;
        font-size: 0.8em;
    }

    header ul { 
        font-size: 0.7em;
    }

    section {
        font-size: 0.8em;
    }

    section h1 {
        font-size: 16px;
    }

    section h2 {
        font-size: 15px;
    }
}